.mainProcess {
    height: 100%;
    position: relative;
    .fade-enter-active {
        transform: translate(260px,0)     
    }
    .fade-leave-active {
        transform: translate(260px,0)
    }
    .recoverList {
        background: #F8F8F8;
    }
    .toolIcon {
        width: 16px;
        height: 16px;
        margin-top: 9px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .toolBtn {
        cursor: pointer;
        transition: all .3s;
        text-align: center;
        border-bottom: 1px solid #EBEEF5;
    }
    .toolBtn:hover {
        background: #EEEEEE!important;
    }
    .toolText {
        color: #909399;
        font-size: 10px;
        margin-top: -4px;
        padding-bottom: 4px;
        text-align: center;
    }
    .attBox {
        width: 260px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition-duration: .3s;
        padding: 10px 0;
        padding-bottom: 70px;
    }
    .drawLeftBox {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .drawBox {
        height: 100%;
        background: #f0f3f6;
        // padding: 10px;
        // padding-bottom: 70px;
        .drawWindow {
            height: 100%;
            //overflow: auto;
            position: relative;
            // 节点栏
            // #itempannel {
            //     position: absolute;
            //     left: 28px;
            //     top: 46px;
            //     z-index: 3;
            //     text-align: center;
            //     .blockStyle {
            //         width: 60px;
            //         height: 60px;
            //         border-radius: 50%;
            //         background: #fff;
            //         box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            //         border: 1px solid #ebeef5;
            //         -webkit-touch-callout: none;
            //         -webkit-user-select: none;
            //         -khtml-user-select: none;
            //         -moz-user-select: none;
            //         -ms-user-select: none;
            //         user-select: none;
            //         cursor: pointer;
            //         img {
            //             width: 30px;
            //             height: 30px;
            //             margin-top: 15px;
            //         }
            //     }
            // }
            #contextmenu {
                box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
                color: #000;
                .command {
                    width: 200px;
                    padding: 8px;
                    font-size: 12px;
                    cursor: pointer;
                }
                .command:hover {
                    background: #e6f7ff;
                }
            }
            // #toolBar {
            //     width: 36px;
            //     height: 72px;
            //     position: absolute;
            //     border: 1px solid #ebeef5;
            //     box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            //     left: 40px;
            //     top: 126px;
            //     border-radius: 36px;
            //     background: #fff;
            //     z-index: 3;
            //     .btn {
            //         width: 100%;
            //         height: 36px;
            //         text-align: center;
            //         line-height: 36px;
            //         display: block;
            //         cursor: pointer;
            //     }
            //     .lineStyle {
            //         width: 27px;
            //         height: 1px;
            //         background: #F5F5F5;
            //         position: absolute;
            //         top: 35px;
            //         left: 4.5px;
            //         display: block;
            //     }
            // }
            // 属性栏
            #detailpannel {
                position: absolute;
                right: 0;
                width: 200px;
                top: 0;
                z-index: 3;
                height: 100%;
            }
            .pageBox {
                height: 100%;
                border: 1px solid #EDF0F4;
            }
            .paper {
                transform-origin: 0 0;
                transition-duration: .3s;
                transform: scale(1);
                padding: 20px;
                display: inline-block;
                .lineSpecBox {
                    position: absolute;
                }
                .blockBox {
                    position: relative;
                    height: 150px;
                    .virLine {
                        width: 2px;
                        height: 157px;
                        background: #3AA9FF;
                        position: absolute;
                    }
                    .alignLine {
                        background: #3AA9FF;
                        position: absolute;
                        height: 2px;
                        width: 130px;
                    }
                    .card {
                        transition: .2s;
                        position: relative;
                        .nextToText {
                            position: absolute;
                            left: 130px;
                            top: 10px;
                            .textRight {
                                position: absolute;
                                width: 100px;
                            }
                        }
                        .text {
                            height: 38px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;/*显示的行数*/
                            text-overflow:ellipsis;
                        }
                        .title {
                            color: #303133;
                            font-weight: bold;
                            margin-left: 6px;
                            line-height: 24px;
                        }
                        .topLine {
                            height: 1px;
                            background: #3AA9FF;
                            position: absolute;
                            left: 108px;
                        }
                        .topLineVertical {
                            background: #3AA9FF;
                            margin-left: 108px;
                            width: 1px;
                            height: 37px;
                        }
                        .middleBox {
                            position: relative;
                            .middleLineVertical {
                                width: 1px;
                                height: 37px;
                                background: #3AA9FF;
                                margin-left: 108px;
                            }
                            .middleLine {
                                height: 1px;
                                position: absolute;
                                left: 108px;
                                background: #3AA9FF;
                                top: 37px;
                            }
                        }
                        .lineContainer {
                            height: 37px;
                            line-height: 37px;
                            color: #3AA9FF;
                            font-size: 12px;
                            .lineBox {
                                position: relative;
                                .lineStyle {
                                    width: 1px;
                                    background: #3AA9FF;
                                    height: 37px;
                                    left: 108px;
                                    position: absolute;
                                }
                                .textStyle {
                                    position: absolute;
                                    left: 60px;
                                }
                                .plus {
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 50%;
                                    background: #AAD9FB;
                                    position: absolute;
                                    right: 80px;
                                    top: 5px;
                                }
                            }
                        }
                    }
                    .pickCard {
                        border: 2px solid #FFCD07!important;
                    }
                }
            }
        }
    }
    .toolBar {
        width: 50px;
        height: 100%;
        padding-bottom: 82px;
        position: relative;;
        // padding: 10px;
        z-index: 3;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .toolBar_box {
            border-right: 1px solid #EDF0F4;
            height: 100%;
            background: #fff;
        }
        .toolHandler:hover {
            color: red;
        }
    }
}